body{

    background-color: brown;
    font-family: 'roboto' sans-serif;
    background-image: url(../images/my.jpg);
    background-size: cover;
}
.signup-box{

    width: 360px;
    height: 620px;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding: 20px;
}
h4{

    text-align:center;
}
form{

    width: 300px;
    margin-left:20px;
}
form label{

    display:flex;
    margin-top: 20px;
    font-size:18px;

}
form input{

    width:100%;
    padding:7px;
    border:none;
    border:1px solid grey;
    border-radius:6px;
    outline:none;
}
input[type="button"]
{
    width:320px;
    height:35px;
    margin-top: 20px;
    border:none;
    background-color: green;
    color: white;
}


p{

    text-align: center;
    padding-top: 20px;
    font-size:15px;

}
.para-2{

    text-align: center;
    color: white;
    font-size: 10px;
    margin-top: -10px;
}
.para-2 a{

    color: aquamarine;
}