*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
.heor{

    background-color:rgb(230, 142, 117);
    overflow: hidden;
}
.heading h1{

    color: rgb(125, 12, 36);
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{

    display:flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{

    flex:1;
    width:600px;
    margin: 0px 25px;
    animation: fadeInUp.2s ease;
}
.hero-content h2{

    font-size: 38px;
    margin-bottom: 20px;
    color: #300707;
}
.hero-content p{

    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #5b5656;
}
.hero-content button{

    display: inline-block;
    background-color:rgb(119, 5, 31);
    color: rgb(220, 234, 234);
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
.hero-content button:hover{

    background-color: #ff6347;
    transform: scale(1.1);

}
.hero-image{

    flex:1px;
    width:600px;
    margin:auto;
    animation: fadeInRight.2s ease;
}
img{

    width:100%;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width:768px)
{
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .heor{

        margin: 0px;

    }
    .container{

        width:100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{

        width:100%;
        margin: 35px 0px;
    }
    .hero-content h2{

        font-size: 30px;
    }
    .hero-content p{

        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{

        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-image{

        width:100%;

    }
}
@keyframes fadeInUp {

    0%{
        opacity: 0;
        transform: translateY(50px);

    }
    100%{
        opacity: 2;
        transform: translateY(0px);
    }
    
}
@keyframes fadeInRight {

    0%{
        opacity: 0;
        transform: translateX(-50px);

    }
    100%{
        opacity:2 ;
        transform: translateX(0px);
    }
    
}

