*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{

    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right #380036, #0CBABA);
    background-image: url(../img/mage\ 5.jpg);
    
}
.container{

    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px  20px #161717;
}
h2{
    font-size: 26px;
    font-family: 600px;
    justify-content: space-between;
    color: #151818;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.content{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}
.input-box{

    display:flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    

}

.input-box :nth-child(2n){


    justify-content: end;
}
.input-box label, .gender-title{

    width:95%;
    color: #322121;
    font-style: bold;
    margin: 5px 0;
}
.gender-title{

    font-size: 16px;
}
.input-box input{

    height: 40px;
    width:95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid  #040303;
    outline:none;
}
input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}

.input-box select {
    width: 95%;
    padding: 10px;
    border: 1px solid #0e0d0d;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.input-box select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.input-box input :is(:focus,:valid){

    box-shadow: 0 3px 6px rgba(red, green, blue, alpha);
}
.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}

.input-box select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-box select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.gender-category{

    color: rgb(18, 15, 15);
}
.gender-category label{

    padding: 0 20px 0 5px;
    font-size: 14px;
}
.gender-category label, .gender-category input{

    cursor: pointer;
}
.alert p{

    font-style: 14px;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    padding: 10px;
}
.alert a{
    text-decoration: none;
}
.alert a:hover{

    text-decoration: underline;
}
.button-container{

    margin: 15px 0;
}
.button-container button{

    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color:#2f4f4f;
    border:none;
    border-radius: 5px;
    border-image: linear-gradient(to right,#aa076b,#61045f);
  
}
.button-container button:hover{

    background-image:linear-gradient(to right,#61045f,#aa076b);
}
@media(max-width:600px){

    .container{
        min-width: 280px;

    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{

        margin-bottom: 12px;
        width:100%;
    }
    .input-box:nth-child(2n){

        justify-content: space-between;
    }
    .gender-category{

        display:flex;
        justify-content: space-between;
        width: 60%;
    }
    
}